@font-face {
  font-family: 'Helvitica', sans-serif;
  src: url(../fonts/helvetica.woff2);
  font-style: normal;
  font-weight: 400;
}
@font-face {
  font-family: 'Helvitica-Bold', sans-serif;
  src: url(../fonts/helvetica-bold.woff2);
  font-style: normal;
  font-weight: 700;
}
html{
  box-sizing: border-box;
}

*,
*::before,
*::after{
  box-sizing: inherit;
}

a{
  color: inherit;
  text-decoration: none;
}

li{
  list-style: none;
}

img{
  max-width: 100%;
}
.container{
  max-width: 1220px;
  padding:0 10px;
  margin: 0 auto;
}
body{
  font-family: 'Helvitica-Bold', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.4;
  color: #5C5C5E;
}
.header{
  border-bottom: 1px solid  #CACAD6;
}
.nav{
display: flex;
justify-content: space-between;
align-items: center;
height: 80px;
}
.menu{
  display: flex;
  gap: 0 20px;
}
.basket{
  position:  relative;
}
.basket--on span{
  font-size: 11px;
  width: 15px;
  height: 15px;
  background-color: #000;
  border-radius: 50%;
  display: flex;
  color: #fff;
  position: absolute;
  line-height: 0;
  align-items: center;
  bottom: 0;
  right: -2px;
  justify-content: center;  
}
.top{
  min-height: calc(100vh - 81px);
  background-image: url(../images/background-image.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom center;
}
.title{
  font-size: 96px;
  line-height: 110px;
  padding-top: 230px;
  margin-bottom: 10px;

}
.subtitle{
  font-size: 36px;
  line-height: 41px;
  margin-bottom: 5px;

}
.top_text{
  font-size: 13px;
  line-height: 15px;
  margin-bottom: 50px;
}